body {
    background-color: #e7e7df;
    font-family: 'Libre Baskerville', serif;
  }

h1{
  text-align: center;
  font-size: 3rem;
  background-color: #dae2de;
  margin: 0;
}

/* header{
  background-color: red;
} */

#search-bar{
  background-color: #d6e1da;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 5px;
}

#data-container{
  margin:0 auto;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 20em;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #f9e1d0;
    background-color: #ECE4DB;
  }

  button {
    position: relative;
    background-color:#E29578;
    border: black solid 1px;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #EDF6F9;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: #a3cbab;
    border: #a82d33 solid 1px;
    color: #ae484d;
    
  }

  #dropdown-menu{
    text-align: center;
  }

  footer p{
    background-color: #dae2de;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }